.Main {
  text-align: center;
}

.container {
  padding: 0px;
}

#middle {
  height: 35.25rem;
}

hr {
  border-width: 0.15rem;
}

#line {
  border-width: 0.2rem;
  width: 50rem;
  margin: 0.25em auto;
}

#bottom {
  width: 100%;
}