.Main {
  text-align: center;
  margin: 2rem 0rem 0rem 0rem; 
}

.container {
  padding: 0px;
}

#top {
  
}

#middle {
  height: 30rem;
}

hr {
  border-width: 0.15rem;
}

#line {
  border-width: 0.2rem;
  width: 50rem;
  margin: 0.25em auto;
}