.closedFormTrip {
    height: 4rem;
    transition: cubic-bezier(0.25, 0.55, 0.25, 0.94) height 2s;
    -webkit-transition: cubic-bezier(0.25, 0.55, 0.25, 0.94) height 2s;
    -moz-transition: cubic-bezier(0.25, 0.55, 0.25, 0.94) height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.openedFormTrip {
    display: inline-block;
    height: 27rem;
    transition: cubic-bezier(0.25, 0.55, 0.25, 0.94) height 2s;
    -webkit-transition: cubic-bezier(0.25, 0.55, 0.25, 0.94) height 2s;
    -moz-transition: cubic-bezier(0.25, 0.55, 0.25, 0.94) height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}