.closedFormTrip {
    height: 3.5rem;
    width: 100%;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.openedFormTrip {
    display: inline-block;
    height: 28rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}