.entryOpenedView {
    height: 18rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.entryOpened {
    height: 23rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.entryClosed {
    height: 7rem;
    transition: height 1s;
    overflow-y: hidden;
    overflow-x: hidden;
}