.entryOpenedView {
    height: 60%;
    transition: cubic-bezier(0.25, 0.65, 0.25, 0.94) height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 0.1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.entryOpened {
    height: 96%;
    transition:  cubic-bezier(0.25, 0.65, 0.25, 0.94) height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 0.1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.entryClosed {
    height: 25%;
    transition: height 1s;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0.6rem 1.25rem;
    line-height: 0.1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.alert-warning:hover {
    background-color: rgb(255, 215, 154);
}

.alert-success:hover {
    background-color: rgb(154, 215, 192);
}

.alert-info:hover {
    background-color: rgb(154, 200, 215);
}
