.barChartClose {
    /* display: none; */
    height: 8rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.barChartOpen {
    /* display: inline-block; */
    height: 25rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

svg {
    height: 30rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}