.closedGrpahArea {
    /* display: none; */
    height: 8rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom: 0.15rem solid lightgray;
}

.openGrpahArea {
    /* display: inline-block; */
    height: 43.5rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom: 0.15rem solid lightgray;
}