.closedGrpahArea {
    height: 100%;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom: 0.15rem solid lightgray;
}

.openGrpahArea {
    height: 100%;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom: 0.15rem solid lightgray;
}