.barChartClose {
    height: 8rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.barChartOpen {
    height: 25rem;
    transition: height 2s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.react-calendar {
    border-radius: 5px;
    height: 2.75rem;
    width: 14rem;
    margin: 0 auto;
    font-size: 12px;
}

.react-calendar__tile {
    padding: 5px 1px;
}

.navBlock {
    margin: 5rem auto; 
    text-align: center;
    border-radius: 5px;
    height: 14rem;
    width: auto;
}

.react-calendar__navigation button {
    min-width: 0rem;
    width: auto;
};

.react-calendar__navigation button:hover {
    background: blue;
};